rgbd-dataset/
results_small_dataset/
graphs_small_dataset/
results/
graphs/
graphs_big_dataset 1/
graphs_small_dataset 2/
old results and graphs/

CNN_using_ResNet18.py
COMP61352_Lab_Week4_Torch_CNN_CIFAR_2025.ipynb
COMP61352_Lab_Week4_Torch_CNN_CIFAR_2025.pdf
DeeperCNN.ipynb
TraditionalCV.ipynb
